.main-page {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .main-page {
    flex-direction: column-reverse;
  }
}

@media (max-width: 320px) {
}
